.aboutMeSection {
    padding: 0 5vw;
}

.aboutMeSection h2 {
    text-transform: uppercase;
}

.skillGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    list-style: none;
    border-radius: 10px;
    background-color: rgba(173, 216, 230, 0.295);
    padding: 1rem;
}

.skillListItem {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.skillName {
    text-transform: uppercase;
}

.skillIcon {
    width: 50px;
    height: 50px;
}

.workListing,
.educationListing {
    margin: 2rem 0;
}

.workListing > :is(h4, h5),
.educationListing > :is(h4, h5) {
    padding: 0;
    margin: 0;
}

.courseProvider {
    color: rgb(255, 30, 30);
    text-transform: uppercase;
}