.formField {
    width: 40%;
}

.field {
    border: 2px solid white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.formTitle {
    font-size: 2rem;
    font-weight: bold;
}

.formLabel {
    font-size: 1.3rem;
    margin: 16px 0 2px 0;
}

.formInput, .textBox {
    font-size: 1.3rem;
    padding: 5px;
    max-width: 25vw;
}

.formBtn {
    width: 40%;
    aspect-ratio: 9/2;
    align-self: center;
    background-color: cyan;
    border: 3px solid black;
    border-radius: 8px;
    color: #303030;
    font-size: 1.3rem;
    font-weight: 700;
}

.formBtn:hover {
    background-color: #303030;
    color: cyan;
    border-color: cyan;
}