.formField {
    width: 100%;
}

.field {
    border: 2px solid white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formTitle {
    font-size: 2rem;
    font-weight: bold;
}

.formLabel {
    font-size: 1.3rem;
    margin: 16px 0 2px 0;
}

.formInput, .textBox {
    font-size: 1.3rem;
    padding: 5px;
    width: 100%;
    resize: vertical;
}

.formBtn {
    min-width: 250px;
    width: 40%;
    padding: 10px 12px;
    align-self: center;
    background-color: cyan;
    border: 3px solid black;
    border-radius: 8px;
    color: #303030;
    font-size: 1.3rem;
    font-weight: 700;
}

.formBtn:hover {
    background-color: #303030;
    color: cyan;
    border-color: cyan;
}

.inlineInputs {
    display: flex;
    gap: 10px;
}