.header {
    display: flex;
    justify-content: space-around;
    column-gap: 50%;
    height: 10vh;
    width: 100%;
    background-color: #5f5f5f;
    z-index: 0;
}

.navGroup {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.navItem {
    text-align: center;
    background-color: #f8f8f8;
    color: black;
    width: 6rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1.2rem;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.navItem:hover::after, .navItem:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent, blue 25%, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 3px;
    z-index: -1;
    border-radius: 1.2rem;
    animation: 5s spin linear infinite;
}

.navItem:hover::before {
    filter: blur(0.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}