.header {
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 100%;
    background-color: #1C1C1C;
    box-shadow: 0px 2px 2px #ffffff, 0 5px 20px #d3d3d393;

    position: sticky;
    top: 0;
    z-index: 5;
}

.navItemContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1640px;
    height: 100%;
}

.navIcon {
    text-align: center;
    align-self: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px cyan;
}

.navGroup {
    display: flex;
    align-items: center;
    column-gap: 1vw;
}

.navItem, .active {
    position: relative;
    width: fit-content;
    text-align: center;
    font-size: 1.3rem;
    background-color: transparent;
    color: white;
}

.active, .active:hover {
    margin-top: 2px;
    color: cyan;
    border-bottom: 2px solid cyan;
}

.navItem:hover {
    margin-top: 2px;
    color: white;
    border-bottom: 2px solid white;
}

@media only screen and (max-width: 1640px) {
    .header {
        padding: 0 5vw;
    }
}


@media only screen and (max-width: 1020px) {
    .navItem, .active {
        font-size: 1rem;
    }

    .navIcon {
        font-size: 1.5rem;
    }

    .navGroup {
        column-gap: 2vw;
    }
}