.homepageContainer {
    padding: 5vh 15vw;
    min-height: 90vh;
    position: relative;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    padding: 0 5vw;
}

.intro {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.intro  > h1 {
    font-size: 3rem;
    margin: 0;
}

.intro > h3 { 
    font-size: 1.5rem;
} 

.intro span {
    color: rgb(173, 0, 0);
}

.redirectLinks {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    row-gap: 12px;
}

.aboutmeBtn {
    border: 2px solid white;
    background-color: transparent;
}

.aboutmeBtn:hover {
    border-color: red;
}

.socialMediaBtnGroup {
    display: flex;
    margin-top: 1rem;
    column-gap: 10px;
}

.socialBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid transparent;
    color: black;
    background-color: white;
    width: 2rem;
    height: 2rem;
    transition: 0.25s;
}

.socialBtn:hover {
    background-color: black;
    color: white;
    border: 1px solid red;
}

.noImage {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 8rem;
    background-color: gray;
    width: 40%;
    height: 500px;
}


.lightSource {
    position: absolute;
    top: 0;
    right: 0;
    height: 30vw;
    width: 30vw;
    background-color: rgba(164, 229, 255, 0.466);
    filter: blur(250px);
    animation: growGlow 20s ease-in infinite forwards;
    transform-origin: top right;
    z-index: -1;

}

@keyframes growGlow {
    0% { scale: 0.5; }
    50% { scale: 2; } 
    100% { scale: 0.5; }
}